<!DOCTYPE html>
<html>
<head>
  <title>LaundryTime</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', data:{turbolinks:{track: 'reload'}}%>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <%= javascript_include_tag 'application',  data:{turbolinks:{track: 'reload'}} %>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<% flash.each do |message_type, message| %>
  <%= content_tag(:div, message) %>
<% end %>
<%= yield %>
</body>
</html>
